.log-item {
    margin: var(--size-8) auto var(--size-4);
    border-radius: 6px;
    background-color: var(--color-direct-100);
    width: 90%;
    max-width: var(--size-main-a1);
    padding: var(--size-4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    font-size: var(--size-4);
}

.log-item h1 {
    font-size: var(--size-8);
    margin: var(--size-4) 0;
    text-align: left;
}

.form label {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    margin: var(--size-2) 0 var(--size-1) 0;
}

.form input,
.form textarea {
    font: inherit;
    padding: var(--size-1);
    border-radius: 4px;
    width: 100%;
    border: 1px solid var(--color-secondary-700);
    background-color: var(--color-direct-100);
    resize: none;
}

.controls {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.control {
    flex: 1;
    min-width: 10rem;
}

.actions {
    margin-top: var(--size-2);
    text-align:center;
}

.actions svg {
    width: var(--size-5);
    height: var(--size-5);
    vertical-align: sub;
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: var(--color-secondary-700);
    border: 1px solid var(--color-secondary-700);
    padding: var(--size-1) var(--size-1);
    border-radius: 4px;
    color: var(--color-secondary-50);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    width: 32%;
    display:inline-block;
    margin-right: var(--size-1);
}

.form button:hover {
    background-color: var(--color-secondary-500);
    border-color: var(--color-secondary-500);
}