.bullet{
    margin: var(--size-4) auto;
    border-radius: 6px;
    background-color: var(--color-main-100);
    width: 90%;
    max-width: var(--size-main-a1);
    padding-bottom: var(--size-2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    /*font-size: var(--size-5);*/

}
.bullet h2 {
    margin: 0;
    /*text-align: center;*/
    padding: var(--size-4);
    background:var(--color-main-800);
    color: white;
    border-radius: 7px 7px 0 0;
}

.bullet ul {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.3rem;
    padding-inline-start: var(--size-4);
    padding-inline-end: var(--size-4);
    margin-block-start: var(--size-2);
    margin-block-end: var(--size-2);
}

.bullet li {
    text-align: left;
    padding: var(--size-1) 0 var(--size-1);
    border-bottom: 2px solid var(--color-main-50);
}

.bullet span{
    margin-right: var(--size-4);
}

.bullet p {
    margin: 0;
}

.bullet li div {
    text-align: right;
    /*font-style: italic;*/
}

.today h2{
    /*background:var(--color-secondary-700);*/
    background:var(--color-error-600);
}
