.bullet{
    margin: var(--size-8) auto;
    border-radius: 6px;
    background-color: var(--color-main-100);
    width: 90%;
    max-width: 25rem;
    padding: var(--size-1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    font-size: var(--size-4);
}

.bullet ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.bullet li {
    text-align: left;
    padding: 0.5rem 0;
    border-bottom: 2px solid var(--color-main-50);
}

.bullet p {
    margin: 0;
}

.bullet li div {
    text-align: right;
    font-style: italic;
}

.bullet address {
    display: inline;
}
