.item {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    flex-direction: row;
    text-align: center;
    color: var(--color-main-900);
}

.task {
    color: var(--color-secondary-700);
}

.item span {
    display:inline-flex;
}


.icon {
    margin-right: 1rem;
}

.icon svg {
    width: 2rem;
    height: 2rem;
}




@media (min-width: 768px) {
    .item {
        text-align: left;
    }
}