.detailModal {
    position: fixed;
    left: calc(50% - var(--size-main-a1)/2);
    top:var(--size-40);

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    z-index: 100;
    margin: 0 auto;
    border-radius: 7px;
    background-color: var(--color-main-100);
    width: 90%;
    max-width: var(--size-main-a1);
    font-size: var(--size-4);

}

.detailModal h2 {
    margin: 0;
    /*text-align: center;*/
    padding: var(--size-4);
    background:var(--color-main-800);
    color: white;
    border-radius: 7px 7px 0 0;
}

.detailModal p {
    padding: 1rem;
}

.control {
    padding: var(--size-3);
    /*margin-bottom: 0.5rem;*/
}

.control label {
    display: block;
    color: var(--color-main-700);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.row {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.control input{
    font: inherit;
    background-color: var(--color-secondary-50);
    color: var(--color-main-900);
    border-radius: 7px;
    border: 1px solid var(--color-main-100);
    width: 100%;
    text-align: left;
    padding: 0.25rem;
}

.control textarea{
    font: inherit;
    background-color: var(--color-secondary-50);
    color: var(--color-main-900);
    border-radius: 7px;
    border: 1px solid var(--color-main-100);
    width: 100%;
    text-align: left;
    padding: 0.25rem;
}

.detailModal__actions {
    margin-top: var(--size-1);
    margin-bottom: var(--size-3);
    text-align:center;
}

.detailModal__actions button {
    font: inherit;
    background-color: var(--color-main-700);
    border: 1px solid var(--color-main-100);
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 7px;
    cursor: pointer;
}

.detailModal__actions button:hover {
    color: var(--color-main-800);
    background-color: white;
    border-color: white;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 50;
}
