.intro {
    margin: var(--size-4) auto var(--size-4);
    border-radius: 6px;
    background-color: var(--color-direct-100);
    width: 90%;
    max-width: var(--size-main-a1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    font-size: var(--size-4);
}

.intro h2 {
    margin: 0;
    text-align: center;
    padding: var(--size-4);
    background:var(--color-main-800);
    color: white;
    border-radius: 7px 7px 0 0;
}

.content {
    text-align: left;
    color: var(--color-error-100);
    padding: var(--size-4);
}

.content b{
    color: var(--color-secondary-700);
    /*background-color: var(--color-direct-100);*/
}