.auth {
    margin: 3rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    background-color: var(--color-main-900);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
}

.auth h1 {
    text-align: center;
    color: white;
}

.control {
    margin-bottom: 0.5rem;
}

.control label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.control input {
    font: inherit;
    background-color: white;
    color: var(--color-main-900);
    /*color:white;*/
    border-radius: 4px;
    border: 1px solid white;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
}

.control svg{
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: bottom;
}

.actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: var(--color-main-600);
    border: 1px solid var(--color-main-600);
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
}

.actions button:hover {
    background-color: var(--color-main-400);
    border-color: var(--color-main-400);
}

.actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: var(--color-secondary-200);
    border: none;
    padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
    background-color: transparent;
    color: var(--color-main-50);
}